<!doctype html>
<html lang="en">

<head>
</head>

<body>
    <style>
        h1 {
            color: blue;
        }
    </style>
    <h1>Adnat</h1><br>

    <%if current_user.organization%>
    <p>Logged in as <%= current_user.name%></p>
    <%else%>
    <p>You are not a member of any organization please join and existing one or create a new one</p>
    <%end%>
    <%= render template: "organizations/index" ,organizations: @organizations %>
</body>


</html>